body {
    background-color: bisque;
}

td.nimi {
    text-align: left;
}

td.hind {
    text-align: right;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr {
    border-bottom: solid 2px black;
    height: 25px;
}
#sisu {
    display: flex;
}
#pool {
    flex: 1;
    padding: 20px;
    margin: 10px;
}

h1 {
    text-align: center;
}