body { 
    column-count: 2;
    font-family: "Lucida handwriting", cursive;
    background-color: bisque;
}

img {
    border-style: solid;
    border-color: black;
}
h1{
    font-size: larger;
}
h2{
    font-size: medium;
}
h3{
    font-size: small;
    text-align: center;
}